@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background: hsla(236, 100%, 8%, 1);

    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4em;

}
.navigation a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 200;
    padding-left: 30px;
    transition: 0.2s ease;
}
.navigation a:hover{
    font-weight: 500;
}

 section{
    padding: 100px 200px;

 }
 .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/WhatsApp\ Image\ 2025-02-26\ at\ 18.49.08_1c4b3c46.jpg);
    background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 .main img{
    border-radius: 15px;
    transition: .7s ease;
    width: 28vw;
    border-radius: 1em
 }
 .main img:hover{
    filter: blur(1.5px);
    transform: scale(.8);
 }

 .main h2{
    color: white;
    font-weight: 500;
    font-size: 1.4em;
 }
 .main h2 span{
    display: inline-block;
    margin-top: 10px;
    font-size: 3em;
    font-weight: 600;
    background:  linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
    background-clip: text;
    color: transparent;
 }
 .main h3{
    color: aliceblue;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
 }
 .btn{
color: aliceblue;
background-color: #3e6cf4;
text-decoration: none;
font-size: 1.1em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 20px;
margin-bottom: 40px;
transition: 0.7s ease;
 }
 .btn-box{
    display: flex;
    gap: 1em;
 } 
 .btn:hover {
    transform: scale(1.1);
    background-color: #3e6cf4;

 }
.social-icons a{
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
   transition: .7s ease;
}
.main .social-icons a:hover{
   font-size: larger;
}
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-color: white;
} 
#about img {
    width: 28vw;
    border-radius: 1em;
    transition: .7s ease;
}

#about img:hover {
    transform: scale(.8);
    filter: blur(1.5px);
}
.about-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}

.about-box h1 {
    font-size: 3em;
}

.about-box p {
    color: #000000;
    opacity: 1;
    font-size: 1.1em;
    font-weight: 300;
}

.skills {
    display: flex;
    text-align: left;
    gap: 10em;
}

.skills ul {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--white-color);
    opacity: 0.8;
    align-items: baseline;
}

.skills ul li span {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: .8em;
    transition: 0.3s ease-in-out;
}

.skills ul li span:hover {
    transform: translateX(10px);
}

.skills ul li i {
    font-size: 1em;
}

.about-box h2 {
    font-size: 2em;
}
#about span{
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background-clip: text;
    color: transparent;
}
.title{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color:white ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: .7s ease;
}
.card:hover {
    transform: scale(1.1);
}
.icon{
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 1.2em;
    margin:10px;
}
.contact .icon{
    font-size: 4.5em;

}
footer{
    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    color:white ;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
/* media query */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Responsive Navigation */
@media (max-width: 1024px) {
    header {
        padding: 10px 50px;
    }
    .navigation a {
        padding-left: 15px;
    }
    section {
        padding: 80px 50px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.3em;
    }
    #about {
        flex-direction: column;
    }

    #about img {
        width: 40vw;
    }

    #about h1 {
        font-size: 3em;
    }

    #about ul {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px 20px;
    }
    .navigation {
        margin-top: 10px;
    }
    .navigation a {
        display: block;
        padding: 10px;
    }
    
    .main {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
        padding-top: 50%;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font: size 1.4em;
    }
    .main img {
        width: 60vw;
    }
    .btn-box {
        flex-direction: column;
        align-items: center;
    }
    #about img {
        width: 50vw;
    }

    #about h1 {
        font-size: 2.5em;
    }

    #about h3 {
        font-size: 1.5em;
    }

    #about .skills {
        gap: 3em;
    }
}

@media (max-width: 480px){
    .main h2 {
        font-size: 1.5em;
    }
    .main h3 {
        font-size: 1.2em;
    }
    
    .social-icons a {
        font-size: 1.5em;
        padding: 10px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
    @media (max-width:300px){
        body{
            font-size: 10px;
        }
    footer {
        flex-direction: column;
        text-align: center;
    }
}